<div class="modal-dialog">
  <div class="modal-content">
    {{#if ajaxContentLoaded }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-title">{{ ajaxContent.title }}</h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom:10px">
          by <b>{{ ajaxContent.author }}</b>
          <span class="display_time">{{ ajaxContent.time_added_display }}</span>
        </div>
        <div>{{{ ajaxContent.content }}}</div>
      </div>
    {{else}}
      <div class="modal-body">
        {{{ ajaxLoadingHtml }}}
      </div>
    {{/if }}
  </div>
</div>
