<div class="row">
  <div class="col-sm-12">
    <form id="status-filter">
      <div class="row">
        <div class="col-sm-3">
          <input type='text' name='showname' placeholder="<%= t "user.username" %>"
              class="form-control" value='' />
        </div>
        <div class="col-sm-3">
          <input type='text' name='showpid' placeholder="<%= t "problem.id" %>"
              class="form-control" />
        </div>
        <div class="col-sm-3">
          <select name="showres" class="form-control">
            <option value=''><%= t "global.options.all" %></option>
            <option value='Accepted'><%= t "status.results.accepted" %></option>
            <option value='Wrong Answer'><%= t "status.results.wrong_answer" %></option>
            <option value='Runtime Error'><%= t "status.results.runtime_error" %></option>
            <option value='Time Limit Exceed'><%= t "status.results.time_limit_exceed" %></option>
            <option value='Memory Limit Exceed'>
              <%= t "status.results.memory_limit_exceed" %>
            </option>
            <option value='Output Limit Exceed'>
              <%= t "status.results.output_limit_exceed" %>
            </option>
            <option value='Presentation Error'>
              <%= t "status.results.presentation_error" %>
            </option>
            <option value='Restricted Function'>
              <%= t "status.results.restricted_function" %>
            </option>
            <option value='Compile Error'><%= t "status.results.compile_error" %></option>
          </select>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-xs-6">
              <select name="showlang" class="form-control">
                <option value=""><%= t "global.options.all" %></option>
                <% LanguageName.all.each { |language| %>
                  <option value="<%= language.id %>"><%= language.name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-xs-6">
              <button type='submit' class="btn btn-primary pull-right">
                <%= t "global.links.show" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-hover" id="statuslist">
      <thead>
        <tr>
          <th><%= t "status.headers.username" %></th>
          <th><%= t "status.headers.runid" %></th>
          <th><%= t "status.headers.pid" %></th>
          <th><%= t "status.headers.result" %></th>
          <th><%= t "status.headers.language" %></th>
          <th><%= t "status.headers.time" %></th>
          <th><%= t "status.headers.memory" %></th>
          <th><%= t "status.headers.length" %></th>
          <th><%= t "status.headers.submit_time" %></th>
          <th><%= t "status.headers.visible" %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
