<h1><%= t "status.show_title", :runid => @status.runid %></h1>
<div class="text-center well">
  <%= t "status.headers.result" %>: <b><%= @status.result %></b>
  &nbsp;&nbsp;&nbsp; <%= t "status.show.memory", :memory => @status.memory_used %> 
  &nbsp;&nbsp;&nbsp; <%= t "status.show.time", :time => @status.time_used %><br/>
  <%= t "status.headers.language" %>: <%= @status.language_name.name %>
  &nbsp;&nbsp;&nbsp; <%= t "user.username" %>: <%= @status.username %>
  &nbsp;&nbsp;&nbsp; <%= t "problem.id" %>: <%= @status.pid %> <br/>
  <% if @status.isshared %>
    <b><%= t "status.show.shared" %></b>
  <% end %>
</div>
<pre><%= @status.source %></pre>
