<div class="row">
  <div class="col-sm-12">
    <% if logged_in? %>
      <button id="arrangevirtual" class="btn btn-primary">
        <%= t "contest.btns.arrange_vcontest" %>
      </button>
    <% end %>
    <div class="btn-group virtual-btns">
      <button class="btn btn-default" is-virtual=""><%= t "contest.btns.all" %></button>
      <button class="btn btn-default" is-virtual="0"><%= t "contest.btns.standard" %></button>
      <button class="btn btn-default" is-virtual="1"><%= t "contest.btns.virtual" %></button>
    </div>
    <div class="btn-group type-btns">
      <button class="btn btn-default" contest-type="all"><%= t "contest.btns.all" %></button>
      <button class="btn btn-default" contest-type="0"><%= t "contest.btns.icpc" %></button>
      <button class="btn btn-default" contest-type="1"><%= t "contest.btns.cf" %></button>
      <button class="btn btn-default" contest-type="99"><%= t "contest.btns.replay" %></button>
      <button class="btn btn-default" contest-type="-99"><%= t "contest.btns.non_replay" %></button>
    </div>
    <div class="btn-group access-btns">
      <button class="btn btn-default" access=""><%= t "contest.btns.all" %></button>
      <button class="btn btn-default" access="0"><%= t "contest.btns.public" %></button>
      <button class="btn btn-default" access="1"><%= t "contest.btns.private" %></button>
      <button class="btn btn-default" access="2"><%= t "contest.btns.password" %></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover table-striped" id="contestlist">
      <thead>
        <tr>
          <th> <%= t "contest.headers.cid" %> </th>
          <th width="30%"> <%= t "contest.headers.title" %> </th>
          <th> <%= t "contest.headers.start_time" %> </th>
          <th> <%= t "contest.headers.end_time" %> </th>
          <th> <%= t "contest.headers.status" %> </th>
          <th> <%= t "contest.headers.access" %> </th>
          <th> <%= t "contest.headers.manager" %> </th>
          <th> <%= t "contest.headers.private" %> </th>
          <th> <%= t "contest.headers.type" %> </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>