<h4>
  <%= raw t 'user.compare.only_solved_by',
      user: link_to(@user1.username) %>
</h4>
<p><%= pid_link_list @user1.accepted_pids - @user2.accepted_pids %></p>
<h4>
  <%= raw t 'user.compare.only_solved_by',
      user: link_to(@user2.username) %>
</h4>
<p><%= pid_link_list @user2.accepted_pids - @user1.accepted_pids %></p>
<h4>
  <%= raw t 'user.compare.both_solved',
      user1: link_to(@user1.username),
      user2: link_to(@user2.username) %>
</h4>
<p><%= pid_link_list @user1.accepted_pids & @user1.accepted_pids %></p>
<h4>
  <%= raw t 'user.compare.failed_by',
      user: link_to(@user1.username) %>
</h4>
<p><%= pid_link_list @user1.failed_pids - @user2.failed_pids %></p>
<h4>
  <%= raw t 'user.compare.failed_by',
      user: link_to(@user2.username) %>
</h4>
<p><%= pid_link_list @user2.failed_pids - @user1.failed_pids %></p>
<h4>
  <%= raw t 'user.compare.both_failed',
      user1: link_to(@user1.username),
      user2: link_to(@user2.username) %>
</h4>
<p><%= pid_link_list @user1.failed_pids & @user1.failed_pids %></p>
