<h1><%= t "user.titles.list" %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to t("global.links.show"), user %></td>
        <td><%= link_to t("global.links.edit"), edit_user_path(user) %></td>
        <td><%= link_to t("global.links.delete"), user, method: :delete, data: { confirm: t("global.prompts.is_sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("global.links.new"), new_user_path %>
