<div class="jumbotron">
  <div class="container">
    <h1><%= t "home.default_title" %></h1>
    <p>
      <%= raw t("home.welcome") %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= render({:file => 'sidebar_items/_vjudge_status'}) %>
  </div>
  <div class="col-sm-4">
    <%= render({:file => 'sidebar_items/_recent_news'}) %>
  </div>
  <div class="col-sm-5">
    <%= render({:file => 'sidebar_items/_standard_running_contests'}) %>
    <%= render({:file => 'sidebar_items/_virtual_running_contests'}) %>
    <%= render({:file => 'sidebar_items/_standard_scheduled_contests'}) %>
    <%= render({:file => 'sidebar_items/_virtual_scheduled_contests'}) %>
  </div>
</div>
