<h1><%= t "news.list_title" %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= link_to t("global.show"), news %></td>
        <td><%= link_to t("global.edit"), edit_news_path(news) %></td>
        <td><%= link_to t("global.delete"), news, method: :delete, data: { confirm: t("global.is_sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("global.new"), new_news_path %>
