<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="BNU Online Judge, A simple, full-featured Online Judge." />
  <meta name="keywords" content="Online Judge, BNU, OJ, BNUOJ, BOJ, Virtual Judge, Replay Contest, Problem Category" />
  <meta name="author" content="51isoft">
  <link rel="shortcut icon" href="<%= root_url.end_with?('/') ? root_url : root_url + '/' %>favicon.ico" />
  <title><%= @page_title.nil? ? t("home.default_title") : @page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
    var baseUrl = "<%= root_url.end_with?('/') ? root_url : root_url + '/' %>";
    var basePath = baseUrl.match('.*?\/\/.*?(\/.*)')[1];
    var currentServerTime = "<%= Time.now %>";
    var serverTimeOffset = "<%= Time.zone.utc_offset %>";
    var timePassed = 0;
    var loggedIn = <%= logged_in? %>;
  </script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="<%= url_for('extra-js/respond.min.js') %>"></script>
  <![endif]-->
</head>
<body>
  <div id="page-content">
    <%= render({:file => 'layouts/_navbar'}) %>
    <div class="container">
      <div id="main-content">
        <%= yield %>
      </div>
      <hr />
      <footer id="footer">
        <p>
          <%= raw t("home.footer_note") %>
        </p>
      </footer>
    </div>
  </div>

  <div class="modal fade bnuoj-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-title"
      aria-hidden="true">
    <div id="dialog-content"></div>
  </div>

</body>
</html>

